<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>

            <welcome-file>index.jsp</welcome-file>
            <welcome-file>index.html</welcome-file>
        </welcome-file-list>
        <servlet>
            <servlet-name>SignUpServlet</servlet-name>
            <servlet-class>controller.SignUpServlet</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>SignUpServlet</servlet-name>

            <url-pattern>/signup</url-pattern>
        </servlet-mapping>
    <servlet>
        <servlet-name>SignUpPageTwoServlet</servlet-name>
        <servlet-class>controller.SignUpPageTwoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpPageTwoServlet</servlet-name>

        <url-pattern>/signup_pg2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateUsernameServlet</servlet-name>
        <servlet-class>controller.ValidateUsernameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateUsernameServlet</servlet-name>
        <url-pattern>/validate_username</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <servlet-class>controller.ValidateLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateLoginServlet</servlet-name>
        <url-pattern>/validate_login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FoodDiaryServlet</servlet-name>
        <servlet-class>controller.FoodDiaryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodDiaryServlet</servlet-name>
        <url-pattern>/foodDiary/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FoodDatabaseServlet</servlet-name>
        <servlet-class>controller.FoodDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodDatabaseServlet</servlet-name>
        <url-pattern>/displayFoodDatabase/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFoodToDatabaseServlet</servlet-name>
        <servlet-class>controller.AddFoodToDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFoodToDatabaseServlet</servlet-name>
        <url-pattern>/addFoodToDatabase/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuccessfullyAddedFoodToDatabaseServlet</servlet-name>
        <servlet-class>controller.SuccessfullyAddedFoodToDatabaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuccessfullyAddedFoodToDatabaseServlet</servlet-name>
        <url-pattern>/successfullyAddedFoodToDatabase/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeDateServlet</servlet-name>
        <servlet-class>controller.ChangeDateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeDateServlet</servlet-name>
        <url-pattern>/changeDate/*</url-pattern>
    </servlet-mapping>

    </web-app>
